@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot Password";
}

<main class="form-signin w-100 m-auto">
    <div>
        <div class="card shadow-lg p-3 mb-5 rounded bg-opacity-50 bg-body">
            <h4 class="card-header text-center mb-3">Forgot Password</h4>
            <div class="card-body">
                <form class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="inputFullNameF" required>
                        <div class="invalid-feedback">Please input your full name</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="inputEmailF" required>
                        <div class="invalid-feedback">Please input your email</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="inputPhoneNumberF" required>
                        <div class="invalid-feedback">Please input your phone Number</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Birth date</label>
                        <input type="date" class="form-control" id="inputBirthDateF" required>
                        <div class="invalid-feedback">Please input your birth date</div>
                    </div>
                    <div class="d-grid">
                        <input type="button" class="btn btn-primary" id="btn_submit_fpass" value="Submit"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="change_password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="InputNewPassword" required>
                        <div class="invalid-feedback">Please input your password</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="InputConfirmPassword" required>
                        <div class="invalid-feedback">Please input your confirm password</div>
                    </div>
                    <div class="d-grid">
                        <div id="btn_newPassword"></div>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</div>



