@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<main class="form-signin w-100 m-auto">
    <div >
        <div class="card shadow-lg p-3 mb-5 rounded bg-opacity-50 bg-body">
            <h4 class="card-header text-center mb-3">Login</h4>
            <div class="card-body">
                <form class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
                        <div class="invalid-feedback">Please input your email</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" required>
                        <div class="invalid-feedback">Please input your password</div>
                    </div>
                    <div class="mb-3">
                        <a asp-controller="Auth" asp-action="ForgotPassword">Forgot Password?</a>
                    </div>
                    <div class="d-grid">
                        <input type="button" class="btn btn-primary" id="btn_submit" value="Log in"></input>
                    </div>
                </form>
                <div class="text-center mt-5">
                <a asp-controller="Auth" asp-action="Register">Register</a>
                </div>
              
            </div>
        </div>
    </div>
</main>

