@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register";
}


<main class="form-signin w-100 m-auto">
    <div>
        <div class="card shadow-lg p-3 mb-5 rounded bg-opacity-50 bg-body">
            <h4 class="card-header text-center mb-3">Register</h4>
            <div class="card-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="inputfullname" required>
                                <div class="invalid-feedback">Please input your full name</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="inputemail" required>
                                <div class="invalid-feedback">Please input your email</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="inputphonenumber" required>
                                <div class="invalid-feedback">Please input your phone number</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Birth Date</label>
                                <input type="date" class="form-control" id="inputbirthdate" required>
                                <div class="invalid-feedback">Please input your birth date</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Gender</label>
                                <select class="form-select" aria-label="Default select example" id="inputgender" required>
                                    <option selected></option>
                                    <option value="laki - laki">laki - laki</option>
                                    <option value="perempuan">perempuan</option>
                                </select>
                                <div class="invalid-feedback">Please input your gender</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputpassword" required>
                                <div class="invalid-feedback">Please input your password</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="inputconfirmpassword" required>
                                <div class="invalid-feedback">Please input your confirm password</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Departement</label>
                                <select class="form-select" aria-label="Default select example" id="inputdepartement" required>
                                    <option selected></option>
                                    <option value="6019">IT Development</option>
                                    <option value="6018">IT Service Center</option>
                                </select>
                                <div class="invalid-feedback">Please input your departement</div>
                            </div>
                        </div>
                    </div>
                    <input type="button" id="btn_submit_register" class="btn btn-primary" value="Register"></input>
                </form>
            </div>
        </div>
    </div>
</main>

