@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Division";
}


<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title m-0">Employee</h5>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createModal">Tambah Data</button>
        <h4>Export File : </h4>
        <table class="table table-striped display" style="width:100%" id="table_employee">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Full Nama</th>
                    <th>email</th>
                    <th>Id Departement</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Full Nama</th>
                    <th>email</th>
                    <th>Id Departement</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

